$mainColor: #000000;
$firstColor: #666666;
$modalColor: #404040;
$secondColor: #999999;
$errorColor: #FF0000;
$headerColor: #0C77BB;
$backgroundColor: #EAEAEA;
$buttonColor: #71C838;
$buttonTextColor: #FFFFFF;
$hrColor: #E5E4E4;

$TextFamily: 'arial', sans-serif;